
// Variables
$headline-size: 2rem;
$header-size: 3rem;
$error-size: 1.5rem;
$hover-color: rgba(#8cb5ff, 0.2);
$gradient-color-start: rgba(216, 239, 241, 1);
$gradient-color-end: rgba(103, 188, 196, 1);