* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  color: black;
}

li {
  list-style-type: none;
  color: black;
}

ul {
  list-style-type: none;
}

.header {
  position: fixed;
  background: linear-gradient(45deg, rgb(216, 239, 241), rgb(103, 188, 196));
  height: 3rem;
  z-index: 100;
  width: 100%;
}

.list-menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 10px;
  width: 100vw;
  max-width: 100%;
  height: auto;
}
.list-menu__element {
  max-width: 80px;
  width: 100%;
  padding: 10px;
  height: 3rem;
}
.list-menu__element:hover {
  background-color: rgba(140, 181, 255, 0.2);
}

.burger-btn {
  display: none;
}

.burger-btn-container {
  display: none;
}

@media (max-width: 800px) {
  .list-menu {
    display: none;
    position: absolute;
    right: -70%;
    top: 3rem;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(216, 239, 241), rgb(103, 188, 196));
  }
  .list-menu.menu-list-open {
    display: block;
  }
  .burger-btn-container {
    display: block;
    position: absolute;
    right: 5%;
    width: 30px;
    height: 3rem;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  .burger-btn-container.active-burger-btn .burger-btn {
    transform: rotate(45deg);
    transition: all ease-in-out 0.5s;
  }
  .burger-btn-container.active-burger-btn .burger-btn::after {
    transform: rotate(-90deg);
    top: 0;
    transition: all ease-in-out 0.5s;
  }
  .burger-btn-container.active-burger-btn .burger-btn::before {
    display: none;
    transition: all ease-in-out 0.5s;
  }
  .burger-btn {
    display: block;
    position: absolute;
    top: 1.5rem;
    width: 30px;
    height: 5px;
    background-color: black;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  .burger-btn::before {
    display: block;
    position: absolute;
    top: -0.6rem;
    width: 30px;
    height: 5px;
    background-color: black;
    content: "";
    transition: all ease-in-out 0.5s;
  }
  .burger-btn::after {
    display: block;
    position: absolute;
    top: 0.6rem;
    width: 30px;
    height: 5px;
    background-color: black;
    content: "";
    transition: all ease-in-out 0.5s;
  }
}
.entity-caption {
  text-align: center;
  margin: 1rem;
}

.form-entity {
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60vw;
  border: black solid;
  border-radius: 5px;
  gap: 2px;
  padding: 10px;
  align-items: start;
}
.form-entity__field-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 60vw;
  width: 80%;
}
.form-entity__label {
  margin-right: 10px;
  max-width: 80px;
  width: 100%;
}
.form-entity__field {
  width: 100%;
  border-radius: 3px;
  padding: 3px;
}

.btn {
  max-width: 100px;
  width: 100%;
  padding: 3px;
  margin-right: 10px;
  text-align: center;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgba(140, 181, 255, 0.2);
}

.entity-button-panel {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60vw;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  max-width: 80px;
  width: 100%;
  padding: 3px;
  margin-right: 10px;
  text-align: center;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgba(140, 181, 255, 0.2);
}

.headline {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

.error {
  color: red;
  margin: 20px;
  width: 100%;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 40vw;
  padding: 20px;
  margin: 20px auto 0;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.list-field {
  margin: 5px;
}

.page-numbers {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  padding: 5px;
}
.page-numbers--page {
  padding-left: 15px;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .cards {
    display: flex;
  }
  .card {
    width: 60vw;
  }
}
.page-content {
  padding-top: 4.5rem;
}

/*# sourceMappingURL=style.css.map */
